body{
    background-color: #7FC8A9;
}

/* Heading section */
#heading-section{
    text-align: center;  
}
#heading{
    font-family: 'Stylish', sans-serif;
    color: #fff;
    font-size: 6vw;
    
}
.bintex-icon{
    color: #152D35;
}
#tagline-container{
    margin: auto;
    width: 50%;
}
#tagline{
    font-family: 'Montserrat', sans-serif;
    color: #fff;
}
#tagline a{
    color: #5F7A61;
    font-weight: 800;
}
#tagline a:hover{
    cursor: pointer;
}

#tagline span{
    color: #911F27;
}

/* Test Section */
#test-section{
    text-align: center;
    margin: auto;
}

/* Footer Section */
#footer{
    position:absolute;
    bottom:0;
    width:100%;
    text-align: center;
}
#footer-text{
    color: #fff;
}

#display-image{
    width: 50%;
}

#file-input{
    display: block;
    margin: 2% 0 2% 45%;
}

#upload-button{
    margin: 2% 0;
}

/* Scroller Style */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
      background-color:#7FC8A9;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb{
    background: #D5EEBB;
    border-radius: 10px;
  }